*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.success-container{
    width:90%;
    max-width:650px;
    background:#fff;
    border-radius:20px;
    padding:50px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.1);
}

.icon i{
    font-size:90px;
    color:#28a745;
    margin-bottom:25px;
}

h1{
    font-size:40px;
    margin-bottom:15px;
}

p{
    color:#666;
    font-size:18px;
    margin-bottom:30px;
}

.order-number{
    background:#f2f2f2;
    padding:15px;
    border-radius:10px;
    font-size:18px;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    background:#111;
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    transition:.3s;
}

.btn:hover{
    background:#333;
}

.secondary{
    background:#fff;
    color:#111;
    border:2px solid #111;
}

.secondary:hover{
    background:#111;
    color:#fff;
}